body {
	background-color: #e6e6fa;
}


h1 {
	font-size: 50px;
	font-family: Segoe UI;
}


h2 {
	color: #000;
	font-size: 24px;
	font-family: Segoe UI;
	padding-top: 20px;
	padding-bottom: 40px;
	font-weight: normal;
}


h3 {
	color: #E0E7F3;
	font-size: 20px;
	font-family: Segoe UI;
	font-weight: normal;
}


p {
	color: #000;
	font-size: 16px;
	font-family: Segoe UI;
	font-weight: normal;
}


.info {
	color: #000;
	font-size: 12px;
	font-style: italic;
	font-family: Segoe UI;
}


.footer {
  	position: relative;
  	left: 0;
  	bottom: -60px;
  	width: 100%;
}


a {
	color: #6486c2;
	text-decoration: none;
	font-family: Segoe UI;
	font-weight: bold;
}


button {
	background-color: #E0E7F3;
	border: 2px solid #E0E7F3;
	padding: 15px 32px;
	text-align: center;
	display: block;
	font-size: 20px;
	color: #000;
	font-family: Segoe UI;
	font-weight: bold;
}

.content {
  	max-width: 960px;
  	margin: 0 auto;
  	padding: 0 20px 20px 20px;
}
